---
import BaseLayout from 'src/layouts/BaseLayout.astro';
import client from '@data/client.json';
import Landing from '@components/Landing.astro';
import ogImage from '@assets/images/CTA/gallery-og.jpg';

import imgHero from '@assets/images/gc-hero.jpg';

import { Picture } from 'astro:assets';

// Optimize our landing image and pass it as props to the BaseLayout (for preloading) and Landing (for rendering)
import { getOptimizedImage } from '@js/utils';
import landingImage from '@assets/images/stone-massage-background1.png'; // <-- THE PATH TO THE ASSET YOU WANT TO PRELOAD - The asset must live in src
import SecondaryLayout from 'src/layouts/SecondaryLayout.astro';
const optimizedImage = await getOptimizedImage(landingImage);
const optimizedOg = await getOptimizedImage(ogImage);
---

<SecondaryLayout
  title="Gift Certificate"
  description="Surprise your loved ones with the ultimate wellness gift. Choose a 1-hour or 2-hour massage certificate and let them experience expert care and deep relaxation."
  preloadedImage={optimizedImage}
  ogImage={optimizedOg}
>

  <!-- ============================================ -->
  <!--                    Hero                      -->
  <!-- ============================================ -->

  <section id="hero">
    <div class="cs-container">
      <div class="cs-flex-group">
        <span class="cs-topper">Hot Stone Massage - Edmonton</span>
        <h1 class="cs-title shadow-text-lg">Give the Gift of Relaxation — Massage Gift Certificates in  Edmonton</h1>
        <p class="cs-text mt-28 shadow-text-lg">
          Surprise your loved ones with the ultimate wellness gift. Choose a 1-hour or 2-hour massage certificate and let them experience expert care and deep relaxation.
        </p>
        <!-- <a href="/about" class="cs-button-solid">Call Now (780-123-4567)</a> -->
        <a
          href="#"
          class="cs-button-solid w-[300px]  rounded-full text-center text-white leading-snug p-4 text-[.6rem] md:text-[1rem] lg:w-[230px] lg:mt-8"
          >
          <span class="text-[1rem]">Buy a Gift Certificate</span> <i class="fas fa-calendar text-[#28a745]"></i>
          </a>
      </div>
    </div>

    <!-- Background Image -->
    <!-- We can't use Astro <Picture /> as it does not support multiple sources -->
    <!-- <ImageSlider imgDatas={heroImages} isAutoSlide client:visible /> -->
     <!-- update images through <style> -->
    <Picture
      src={imgHero}
      alt="lady in a stone massage"
      formats={['avif', 'webp']}
      pictureAttributes={{ class: 'cs-picture hidden' }}
      loading="eager"
    />
  </section>                         

<!-- ============================================ -->
<!--                  Side By Side                -->
<!-- ============================================ -->

<section id="RPsbs-1587">
    <div class="cs-container">
        <picture class="cs-picture">
            <!--Mobile Image-->
            <source media="(max-width: 600px)" srcset="/assets/images/gc-hero.jpg">
            <!--Tablet and above Image-->
            <source media="(min-width: 601px)" srcset="/assets/images/gc-hero.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/gc-hero.jpg" alt="models" width="586" height="690">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Benefits of Gifting a Massage</span>
            <h2 class="cs-title">Unwrap the Benefits of Gifting a Massage</h2>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">01</span>
                        <h3 class="cs-h3">
                            Promotes Relaxation and Stress Relief
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        A massage helps reduce tension, lower cortisol levels, and calm the nervous system—making it a perfect escape from everyday stress.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">02</span>
                        <h3 class="cs-h3">
                            Supports Physical Health
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        It can relieve muscle soreness, improve circulation, and even enhance sleep quality—ideal for anyone with a physically demanding lifestyle or chronic discomfortises.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">03</span>
                        <h3 class="cs-h3">
                            Shows Thoughtfulness and Care
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        Unlike generic gifts, a massage shows you value their well-being. It’s a personal and meaningful way to say, “You deserve to feel good.”
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">04</span>
                        <h3 class="cs-h3">
                            Encourages Self-Care
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        Many people don’t take time for themselves. Gifting a massage gives them permission to pause, recharge, and prioritize their own wellness.
                    </p>
                </li>
            </ul>
            <!-- <a href="" class="cs-button-solid">View All Collections</a> -->
        </div>
    </div>
</section>

<!-- ============================================ -->
<!--              Side By Side Reverse            -->
<!-- ============================================ -->

<!-- <section id="RPsbsr-1587">
    <div class="cs-container">
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/gc-hero.jpg">
            <source media="(min-width: 601px)" srcset="/assets/images/gc-hero.jpg">
            <img loading="lazy" decoding="async" src="/assets/images/gc-hero.jpg" alt="models" width="586" height="690">
        </picture>
        <div class="cs-content">
            <span class="cs-topper">Our Features</span>
            <h2 class="cs-title">Accessible Wardrobe That Men Can Wear and Curate Over Time</h2>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">01</span>
                        <h3 class="cs-h3">
                            Member Discount
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        It’s no secret that one person alone cannot overcome the greatest humanitarian crises.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">02</span>
                        <h3 class="cs-h3">
                            Safe Payment
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        It’s no secret that one person alone cannot overcome the greatest humanitarian crises.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">03</span>
                        <h3 class="cs-h3">
                            Shop with Confidence
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        It’s no secret that one person alone cannot overcome the greatest humanitarian crises.
                    </p>
                </li>
                <li class="cs-item">
                    <div class="wrapper">
                        <span class="cs-item-number">04</span>
                        <h3 class="cs-h3">
                            Money Return
                        </h3>
                    </div>
                    <p class="cs-item-text">
                        It’s no secret that one person alone cannot overcome the greatest humanitarian crises.
                    </p>
                </li>
            </ul>
            <a href="" class="cs-button-solid">View All Collections</a>
        </div>
    </div>
</section> -->
                                
<!-- ============================================ -->
<!--                   Gallery                    -->
<!-- ============================================ -->

<section id="gallery-1152">
    <div class="cs-container">
        <div class="cs-content">
            <span class="cs-topper">Pick the Perfect Massage Gift</span>
            <h2 class="cs-title">Gift Certificate Options</h2>
        </div>
        <div class="cs-gallery">
            <!--Picture 1-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/100gc.png">
                <source media="(min-width: 601px)" srcset="/assets/images/100gc.png">
                <img loading="lazy" decoding="async" src="/assets/images/100gc.png" alt="gallery" width="272" height="320">
            </picture>
            <!--Picture 2-->
            <picture class="cs-image">
                <source media="(max-width: 600px)" srcset="/assets/images/200gc.png">
                <source media="(min-width: 601px)" srcset="/assets/images/200gc.png">
                <img loading="lazy" decoding="async" src="/assets/images/200gc.png" alt="gallery" width="272" height="320">
            </picture>
        </div>
    </div>
</section>
                                                 
<!-- ============================================ -->
<!--                    Steps                     -->
<!-- ============================================ -->

<section id="steps-1893">
    <div class="cs-container">
        <div class="cs-image-group">
            <picture class="cs-picture">
                <!--Mobile Image-->
                <source media="(max-width: 600px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dermatologist1.jpeg">
                <!--Tablet and above Image-->
                <source media="(min-width: 601px)" srcset="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dermatologist1.jpeg">
                <img loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/People/dermatologist1.jpeg" alt="dermatologist" width="324" height="467">
            </picture>
            <img class="cs-graphic cs-brown" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/brown-lines2.svg" alt="graphic" width="100" height="98" aria-hidden="true">
            <img class="cs-graphic cs-peach" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/peach-blob.svg" alt="graphic" width="42" height="31" aria-hidden="true">
            <img class="cs-graphic cs-leaf" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/leaf-reverse.svg" alt="graphic" width="136" height="171" aria-hidden="true">
            <img class="cs-graphic cs-dots" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Icons/beige-dots.svg" alt="graphic" width="159" height="88" aria-hidden="true">
            <img class="cs-graphic cs-lines" loading="lazy" decoding="async" src="https://csimg.nyc3.cdn.digitaloceanspaces.com/Images/Graphics/mesh-reverse.svg" alt="graphic" width="150" height="165" aria-hidden="true">
        </div>
        <div class="cs-wrapper">
            <div class="cs-content">
                <span class="cs-topper">How to get started</span>
                <h2 class="cs-title">Simple Steps to Get Our Services</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <span class="cs-number">01</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Book an Appointment</h3>
                        <p class="cs-item-text">
                            Aside from seeing patients, Dr. Paul is dedicated to patient advocacy and education on  evidence-based medicine in dermatology, especially for skin of color. 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-number">02</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Attend your appointment</h3>
                        <p class="cs-item-text">
                            Aside from seeing patients, Dr. Paul is dedicated to patient advocacy and education on  evidence-based medicine in dermatology, especially for skin of color. 
                        </p>
                    </div>
                </li>
                <li class="cs-item">
                    <span class="cs-number">03</span>
                    <div class="cs-flex">
                        <h3 class="cs-h3">Follow your treatment plan</h3>
                        <p class="cs-item-text">
                            Aside from seeing patients, Dr. Paul is dedicated to patient advocacy and education on  evidence-based medicine in dermatology, especially for skin of color. 
                        </p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
                                                    

  <style lang="less">
    /* PAGE-SPECIFIC STYLES FOR THE CONTACT PAGE */

/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/

  /* Mobile - 360px */
  @media only screen and (min-width: 0em) {
    #hero {
      font-family: 'Open Sans', 'Roboto', Arial, sans-serif;

      text-align: center;
      padding: 0 (16/16rem);
      padding-bottom: (100/16rem);
      position: relative;
      z-index: 1;
      overflow: hidden;
      /* Add background attachment for mobile */
      background: url('/assets/images/gc-hero.jpg') center/cover no-repeat;
      background-attachment: scroll; /* Default for mobile */

      .cs-picture {
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;

        &:before {
          content: '';
          width: 100%;
          height: 100%;
          opacity: 0.7;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          pointer-events: none;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-container {
        width: 100%;
        max-width: (1280/16em);
        margin: auto;
        /* we put the padding top and bottom on the container instead of #Hero so the pseudo element lines go to the top and bottom of the section */
        /* 144px - 280px - leaving extra space for the navigation */
        /* changes on tablet */
        padding: clamp(6em, 25.95vw, 17.5em) 0;
        position: relative;

        &:before {
          /* Left Line */
          content: '';
          width: 1px;
          height: 100%;
          background: -moz-linear-gradient(
            top,
            rgba(250, 251, 252, 0.5) 0%,
            rgba(250, 251, 252, 0) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(250, 251, 252, 0.5) 0%,
            rgba(250, 251, 252, 0) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .cs-flex-group {
        width: 80vw;
        /* 464px - 562px */
        max-width: clamp(29em, 60vw, 35.125em);
        margin: auto;
        /* 60px - 220px */
        // margin-bottom: clamp(3.75em, 15.5vw, 13.75em);
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 1rem;
      }

      .cs-topper {
        text-align: center;
        //  margin-bottom: (16/16rem);
        // color: var(--primary);
        color: #f0aece;
      }

      .cs-title {
        text-align: center;
        width: 100%;
        color: var(--bodyTextColorWhite);
        margin-bottom: 0;
      }

      .cs-text {
        text-align: center;
        /* 32px - 40px */
        margin: 0 auto clamp(2rem, 4vw, 2.5rem) 0;
        /* 40px - 48px */
        margin-bottom: clamp(1.5rem, 4vw, 2rem);
        color: var(--bodyTextColorWhite);
      }

      .cs-button-solid {
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        height: initial;
        margin-bottom: calc(16 / 16 * 1rem);
        padding: 0 1rem;
        color: var(--bodyTextColorWhite);
        border-radius: calc(32 / 16 * 1rem);
        &:before {
          border-radius: calc(32 / 16 * 1rem);
        }
      }

      .cs-button-transparent {
        font-size: (16/16rem);
        font-weight: 700;
        /* 46px - 56px */
        line-height: clamp(2.875em, 5.5vw, 3.5em);
        text-decoration: none;
        //  width: (180/16rem);
        width: max-content;
        /* 46px - 56px */
        height: clamp(2.875em, 5.5vw, 3.5em);
        margin: 0 (8/16rem);
        box-sizing: border-box;
        padding: 0 0.5rem;
        color: #fff;
        background-color: transparent;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 1;

        &:before {
          content: '';
          background: #000;
          opacity: 1;
          display: block;
          position: absolute;
          /* so it sits on top of the border */
          top: -1px;
          right: -1px;
          bottom: -1px;
          left: -1px;
          z-index: -1;
          /* this is what creates the grow affect on hover */
          transform: scaleX(0);
          transition: transform 0.3s;
          transform-origin: left;
        }

        &:hover {
          &:before {
            transform: scaleX(1);
          }
        }

        .cs-img {
          margin-right: (12/16rem);
          display: block;
        }
      }
    }
  }

  /* Tablet - 768px */
  @media only screen and (min-width: 48em) {
    #hero {
      /* 32px - 40px */
      padding: 0 clamp(2em, 5vw, 2.5em);

      .cs-container {
        padding: clamp(7em, 27.95vw, 7em) 0;
        .cs-text{
          margin-top: 4rem !important;
        }
        &:after {
          /* Right Line */
          content: '';
          width: 1px;
          height: 100%;
          background: -moz-linear-gradient(
            top,
            rgba(250, 251, 252, 0) 0%,
            rgba(250, 251, 252, 0.5) 100%
          ); /* FF3.6-15 */
          background: -webkit-linear-gradient(
            top,
            rgba(250, 251, 252, 0) 0%,
            rgba(250, 251, 252, 0.5) 100%
          ); /* Chrome10-25,Safari5.1-6 */
          opacity: 1;
          display: block;
          position: absolute;
          top: 0;
          right: 0;
        }
      }

      .cs-button-solid {
        // margin-right: (20/16rem);
        margin-bottom: 0;
        padding: 0 1.875rem;
      }
    }
  }

  /* Desktop Parallax Effect - 1300px */
  @media only screen and (min-width: 64em) {
    #hero {
      background: url('/assets/images/gc-hero.jpg');
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed; /* Enable parallax on desktop */
      /* Add transform for smoother parallax */
      transform: translate3d(0, 0, 0); /* Enable hardware acceleration */
      will-change: background-position; /* Optimize performance */
    }
  }

  /* Dark Mode */
  @media only screen and (min-width: 0em) {
    body.dark-mode {
      #hero {
        .cs-background {
          &:before {
            opacity: 0.8;
          }
        }
      }
    }
  }
               
/*-- -------------------------- -->
<---        Side By Side        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbs-1587, #RPsbsr-1587 {
        padding: var(--sectionPadding);
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at tablet */
            max-width: (584/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(2.5rem, 6vw, 4rem);
        }

        .cs-picture {
            width: 100%;
            height: clamp(25rem, 80vw, 47rem);
            display: block;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            max-width: (630/16rem);
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
            justify-content: center;
        }

        .cs-title {
            /* 26 characters wide including spaces */
            max-width: 26ch;
            margin: 0;
        }

        .cs-card-group {
            width: 100%;
            /* 550px - 630px */
            max-width: clamp(34.375rem, 50vw, 39.375rem);
            padding: 0;
            /* 24px - 40px */
            margin: clamp(1.5rem, 4vw, 2.5rem) 0 clamp(1.75rem, 4vw, 2.5rem) 0;
            display: grid;
            align-items: center;
            gap: clamp(1rem, 4vw, 2.5rem);
        }

        .cs-item {
            list-style: none;
            /* prevents padding from affecting height and width */
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: (12/16rem);
            
            margin-bottom: auto;
        }

        .wrapper {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            gap: (10/16rem);
        }

        .cs-item-number {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--primary);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-h3 {
            font-size: (20/16rem);
            line-height: 1.2em;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: flex;
            justify-content: flex-start;
            align-items: center;
            gap: (8/16rem);
        }

        .cs-item-text {
            font-size: (14/16rem);
            line-height: 1.5em;
            margin: 0;
            color: var(--bodyTextColor);
        }

        .cs-button-solid {
            font-size: (16/16rem);
            line-height: 3.5em;
            text-decoration: none;
            font-weight: 700;
            overflow: hidden;
            width: auto;
            margin: 0;
            color: #fff;
            padding: 0 (48/16rem);
            background-color: var(--primary);
            display: inline-block;
            position: relative;
            z-index: 1;
            transition: color 0.3s;

            &:before {
                content: "";
                position: absolute;
                display: block;
                height: 100%;
                width: 0%;
                background: #1a1a1a;
                opacity: 1;
                top: 0;
                left: 0;
                z-index: -1;
                transition: width 0.3s;
            }

            &:hover {
                color: var(--primary);
            }

            &:hover:before {
                width: 100%;
            }
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbs-1587, #RPsbsr-1587 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            justify-content: space-between;
            align-items: stretch;
        }
        .cs-content {
            width: 50%;
            max-width: (630/16rem);
            /* prevents flexbox from squishing it */
            flex: none;
        }
        .cs-card-group {
            grid-template-columns: repeat(12, 1fr);
        }
        .cs-item {
            grid-column: span 6;
        }
        .cs-picture {
            height: auto;
            min-height: (525/16rem);
        }
    }
}

/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #RPsbs-1587, #RPsbsr-1587 {
        .cs-content {
            padding: (84/16rem) 0;
            align-self: center;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbs-1587, #RPsbsr-1587 {
            .cs-topper {
                color: var(--primary);
            }

            .cs-title,
            .cs-li,
            .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-li,
            .cs-item-text {
                opacity: 0.8;
            }

            .cs-h3 {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}
    
/*-- -------------------------- -->
<---   Side By Side Reverse     -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #RPsbsr-1587 {
        background-color: #f7f7f7;
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #RPsbsr-1587 {
        .cs-picture {
            order: 2;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #RPsbsr-1587 {
            background-color: rgba(0, 0, 0, .2);
        }
    }
}
                                
/*-- -------------------------- -->
<---          Gallery           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #gallery-1152 {
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            /* changes to 1280px at large desktop */
            max-width: (944/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-topper {
            color: var(--primary);
        }

        .cs-title {
            margin: 0;
        }

        .cs-gallery {
            width: 100%;
            /* changes to 100% at tablet */
            max-width: (500/16rem);
            padding: 0;
            margin: 0;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            /* 16px - 20px */
            gap: clamp(1rem, 1.5vw, 1.25rem);
        }

        .cs-image {
            /* 260px - 360px */
            min-height: clamp(16.25rem, 60vw, 29rem);
            border-radius: (16/16rem);
            /* clips the image corners */
            overflow: hidden;
            display: block;
            grid-column: span 12;
            grid-row: span 1;
            position: relative;

            img {
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                /* makes it act like a background image */
                object-fit: cover;
            }
        }
    }
}

/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
    #gallery-1152 {
        .cs-gallery {
            max-width: 100%;
            grid-template-rows: 1fr;
        }

        .cs-image {
            grid-column: span 4;

            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 6;
            }
        }
    }
}

/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
    #gallery-1152 {
        .cs-container {
            max-width: (1280/16rem);
        }

        .cs-gallery {
            grid-template-columns: repeat(2, 1fr);
        }

        .cs-image {
            grid-column: span 1;

            &:nth-of-type(4),
            &:nth-of-type(5) {
                grid-column: span 1;
            }
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #gallery-1152 {
            .cs-topper {
                color: var(--secondary);
            }
            .cs-title {
                color: var(--bodyTextColorWhite);
            }
        }
    }
}

/*-- -------------------------- -->
<---          Steps             -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #steps-1893 {
        padding: var(--sectionPadding);
        background-color: #F6EDDF;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .cs-container {
            width: 100%;
            /* changes to 1280px at desktop */
            max-width: (704/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: (32/16rem);
        }

        .cs-image-group {
            font-size: min(2.24vw, .9rem);
            width: (482/16em);
            height: (616/16em);
            display: block;
            position: relative;
            z-index: 1;
        }

        .cs-picture {
            width: (413/16em);
            height: (593/16em);
            margin-top: (24/16em);
            box-sizing: border-box;
            background-color: #DAB692;
            overflow: hidden;
            border: 8px solid #DAB692;
            border-radius: (260/16rem);
            position: absolute;
            right: 0;
            z-index: -1;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                position: absolute;
                top: 0;
                left: 0;
                transition: transform 0.7s;
            }
        }

        .cs-graphic {
            height: auto;
            position: absolute;
        }

        .cs-brown {
            width: (165/16em);
            height: auto;
            top: (20/16em);
            left: (24/16em);
            z-index: -2;
            transform: rotate(140deg);
        }

        .cs-peach {
            width: (69/16em);
            height: auto;
            top: (16/16em);
            left: (140/16em);
            transform: rotate(-40deg);
        }

        .cs-leaf {
            width: (224/16em);
            height: auto;
            bottom: (0/16em);
            right: (16/16em);
            z-index: 1;
        }

        .cs-dots {
            width: (261/16em);
            height: auto;
            left: (16/16em);
            bottom: (16/16em);
            z-index: -2;
        }

        .cs-lines {
            width: (246/16em);
            right: 0;
            bottom: (0/16em);
        }

        .cs-wrapper {
            display: flex;
            flex-direction: column;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: left;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: flex-start;
        }

        .cs-topper {
            color: var(--secondary);
        }

        .cs-title {
            margin: 0;
        }

        .cs-card-group {
            margin: 0;
            padding: 0;
            display: grid;
            align-items: stretch;
            grid-auto-flow: row;
            /* 24px - 32px */
            gap: clamp(1.5rem, 3vw, 2rem);
        }

        .cs-item {
            list-style: none;
            padding-bottom: (32/16rem);
            border-bottom: #DED1BD 1px solid;
            display: flex;
            align-items: flex-start;
            /* 16px - 24px */
            gap: clamp(1rem, 2vw, 1.5rem);
            position: relative;

            &:last-of-type {
                border-bottom: none;
            }
        }

        .cs-number {
            /* 49px - 72px */
            font-size: clamp(3.0625rem, 6vw, 4.5rem);
            font-weight: 900;
            line-height: (19/16em);
            color: var(--primary);
            opacity: 0.2;
            display: block;
        }

        .cs-h3 {
            /* 20px - 25px */
            font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
            font-weight: 700;
            line-height: (18/16em);
            margin: 0 0 (12/16rem) 0;
            color: var(--headerColor);
        }

        .cs-item-text {
            font-size: (16/16rem);
            line-height: (24/16em);
            text-align: left;
            margin: 0;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #steps-1893 {
        .cs-container {
            max-width: (1280/16rem);
            flex-direction: row;
            align-items: stretch;
            /* 48px - 60px */
            gap: clamp(3rem, 6vw, 3.75rem);
        }

        .cs-card-group {
            /* 16px - 32px */
            gap: clamp(1rem, 3vw, 2rem);
        }

        .cs-item {
            flex-direction: row;
        }

        .cs-image-group {
            font-size: min(1.5vw, 1rem);
            height: auto;
            min-height: (616/16em);
            flex: none;
            /* sends it to the right in the 2nd position */
            order: 2;
        }

        .cs-picture {
            height: 96.266234%;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #steps-1893 {
            background-color: rgba(0, 0, 0, 0.2);

            .cs-picture {
                border-color: var(--accent);
            }

            .cs-graphic {
                opacity: 0.6;
            }

            .cs-peach {
                opacity: 1;
                filter: brightness(60%);
            }

            .cs-number {
                color: var(--primaryLight);
                opacity: 0.6;
            }

            .cs-title, .cs-h3, .cs-item-text {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                border-color: rgba(255, 255, 255, .2);
            }

            .cs-item-text {
                opacity: 0.8;
            }
        }
    }
}
                                                         

                                
                                

  </style>
</BaseLayout>
