---
import { Picture } from 'astro:assets';

export type PromotionProps = {
  imgSrc: ImageMetadata;
  title: string;
  description: string;
};

const { imgSrc, title, description } = Astro.props as PromotionProps;
---

<!-- this doesnt work -->
<div
  class:list={[
    'grid grid-rows-[min-content] gap-3 p-2 border rounded-md h-auto max-w-xl snap-center',
  ]}
>
  <Picture
    src={imgSrc}
    alt="lady in a stone massage"
    formats={['avif', 'webp']}
    loading="eager"
    class="shadow-[12px_12px_12px_rgba(0,0,0,0.1)] rounded-md h-auto aspect-square object-cover"
    pictureAttributes={{ class: 'place-self-center' }}
  />

  <div class="flex flex-col gap-3 p-2">
    <h3 class="text-xl text-center">{title}</h3>
    <p>{description}</p>
    <a href="#">Learn more</a>
  </div>
</div>
